@import "../../../styles/variables.scss";

.lists{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: $gap;
    max-height: 100%;
    /* Ajusta esto a la altura deseada */
    overflow-y: auto;
    scrollbar-width: none;
    
    /* Para navegadores basados en WebKit como Chrome y Safari */
    .lists::-webkit-scrollbar {
        display: none;
    }

    .user-data{
        width: 100%;
        padding: 5px;
        // background-color: $soft;
        color: $dark-color;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: $gap;
        border: $solid;
        border-radius: 5px;
    }
}

