@import "../../../styles/variables.scss";

.users{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: $gap;

    .user-data{
        width: 100%;
        padding: 5px;
        // background-color: $soft;
        color: $dark-color;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: $gap;
        border: $solid;
        border-radius: 5px;
    }
}

