// BG
$main: #2a3447;
$soft: #384256;
$dark: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$white: white;
$grey : #333;
$red : #ff0000;



//SHARED
$gap: 10px;
$solid: 1px solid $soft;
$solid-red: 1px solid $red;