@import '../../styles/variables.scss';

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;

    .menu-header{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10%;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px;
        font-size: 1.2em;
        gap: 10px;
        border-bottom: solid 1px $soft;

        .list-hijo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                width: 100%;
                padding: 4%;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                color: $soft-color;
        
                &:hover {
                    border: 1px solid white;
                    background-color: $soft;
                    font-size: 1.2rem;
                }
        
                .icono {
                    font-size: 1.2rem;
                }
        
                .texto {
                    font-size: 1.6rem;
                }
            }
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 5%;
        padding: 7%;
        gap: 10px;

        .menu-titulo{
            color: $soft-color;
            font-size: 1.2rem;
            margin-bottom: 10px;
            border-bottom: solid 1px $soft;
            width: 100%;
            
            .span-list-titulo{
                color: $soft-color;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }
        }
        .menu-hijos {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 5%;
            padding: 7%;
            
            .list-hijo{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                width: 100%;
                padding: 4%;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                color: $soft-color;
                
                &:hover{
                    border: 1px solid white;
                    background-color: $soft;
                    font-size: 1.2rem;
                }

                .icono{
                    font-size: 1.2rem;
                }

                .texto{
                    font-size: 1.6rem;
                }
            }
        }
    }
    // .menu-list{
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     height: 100%;
    //     align-items: flex-start;
    //     justify-content: flex-start;
    //     margin-top: 5%;
    //     padding: 7%;
    //     gap: 10px;

    //     .menu-list-titulo{
    //         color: $soft-color;
    //         font-size: 1.2rem;
    //         margin-bottom: 10px;
    //         border-bottom: solid 1px $soft;
    //         width: 100%;
            
    //         .span-list-titulo{
    //             color: $soft-color;
    //             font-size: 1.2rem;
    //             margin-bottom: 10px;
    //         }
    //     }
    //     .menu-list-hijos {
    //         display: flex;
    //         flex-direction: column;
    //         gap: 10px;
    //         width: 100%;
    //         height: 100%;
    //         align-items: flex-start;
    //         justify-content: flex-start;
    //         margin-top: 5%;
    //         padding: 7%;
            
    //         .list-hijo{
    //             display: flex;
    //             align-items: center;
    //             justify-content: flex-start;
    //             gap: 10px;
    //             width: 100%;
    //             padding: 4%;
    //             border-radius: 5px;
    //             cursor: pointer;
    //             transition: 0.3s;
    //             color: $soft-color;
                
    //             &:hover{
    //                 border: 1px solid white;
    //                 background-color: $soft;
    //                 font-size: 1.2rem;
    //             }

    //             .icono{
    //                 font-size: 1.2rem;
    //             }

    //             .texto{
    //                 font-size: 1.6rem;
    //             }
    //         }
    //     }

    // }

    // .menu-settings{
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     height: 100%;
    //     align-items: flex-start;
    //     justify-content: flex-start;
    //     margin-top: 5%;
    //     padding: 7%;
    //     gap: 10px;

    //     .menu-settings-titulo {
    //             color: $soft-color;
    //             font-size: 1.2rem;
    //             margin-bottom: 10px;
    //             border-bottom: solid 1px $soft;
    //             width: 100%;
        
    //             .span-list-titulo {
    //                 color: $soft-color;
    //                 font-size: 1.2rem;
    //                 margin-bottom: 10px;
    //             }
    //         }
    //     .menu-settings-hijos{
    //         display: flex;
    //         flex-direction: column;
    //         gap: 10px;
    //         width: 100%;
    //         height: 100%;
    //         align-items: flex-start;
    //         justify-content: flex-start;
    //         margin-top: 5%;
    //         padding: 7%;

    //     .list-hijo {
    //             display: flex;
    //             align-items: center;
    //             justify-content: flex-start;
    //             gap: 10px;
    //             width: 80%;
    //             padding: 4%;
    //             border-radius: 5px;
    //             cursor: pointer;
    //             transition: 0.3s;
    //             color: $soft-color;
        
    //             &:hover {
    //                 background-color: $dark;
    //             }
        
    //             .icono {
    //                 font-size: 1.2rem;
    //             }
        
    //             .texto {
    //                 font-size: 1rem;
    //             }
    //         }
    //     }
    // }

    // .footer-class{
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: space-between;

    //     .footer-firma{
    //         color: $soft-color;
    //         font-size: 0.8rem;
    //         margin-top: 10px;
    //     }

    // }
}