@import '../../styles/variables.scss';

.sidebar{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    
    .footer-sidebar-main{
        width: 100%;
        .footer-sidebar{
            display: flex;
            justify-content: space-between;
            gap: $gap;
            align-items: center;
            color: $soft-color;
            font-size: 0.8rem;
        }

    }
    .menu{
        padding: 7%;

        
        .menu-secciones{
            display: flex;
            flex-direction: column;
            color: $soft-color;
            font-size: 1rem;
            border-bottom: solid 1px $soft;
            width: 100%;
            
            .span-list-titulo{
                color: $soft-color;
                font-size: 1.2rem;
            }
                
            .seccion-titulo{
                display: flex;
                align-items: flex-start;
                gap: $gap;

                .logo-sidebar{
                    width: 30px;
                    height: 30px;
                    color: white;
                    fill : white;
                }
            }
        
            .menu-hijos {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                height: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                margin-top: 5%;
                padding: 7%;
                
                .list-hijo{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    width: 100%;
                    padding: 4%;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.3s;
                    color: $soft-color;
                    
                    &:hover{
                        border: 1px solid white;
                        background-color: $soft;
                        font-size: 1.2rem;
                    }

                    .icono{
                        font-size: 1.2rem;
                    }

                    .texto{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}