@import "../../styles/variables.scss";

.dashboard{
    width: 100%;
    max-height: 100vh;

    .dashboard-main{
        width: 100%;
        max-height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        
        .dashboard-boxes{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            // border: solid 1px $soft;
            padding: 1%;
            grid-auto-rows: minmax(150px, auto);
            grid-auto-flow: dense;
            gap: $gap;
            
            @media (max-width: 1224px) {
                    grid-template-columns: repeat(3, 1fr);
                }
            
                @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }
        
            @media (max-width: 650px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .box{
                box-shadow: $main 1px 3px 7px;
                margin: 10px;
                padding: 5px;
                border-radius: 7px;
                gap : $gap;
                max-height: 500px;
            }
            
            .box1 {
                box-shadow: none;
                display: grid;
                grid-column: span 2;
                grid-row: span 1;
                grid-template-columns: repeat(2, 1fr);
                // border: solid 1px $soft;
                // padding: 1%;
                grid-auto-rows: minmax(150px, auto);
                grid-auto-flow: dense;
                .subbox-1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: $soft 1px 3px 7px;
                    margin: 10px;
                    padding: 5px;
                    border-radius: 7px;
                    max-height: 150px;
                    gap: $gap
                }
            }

            .box3{
                grid-column: span 1;
                grid-row: span 3;
                max-height: 550px;
            }

            .box2 {
                grid-column: span 1;
                grid-row: span 3;
                max-height: 550px;
            }
            .box5 {
                grid-column: span 4;
                grid-row: span 1;
                max-height: 300px;
            }
            .box4 {
                grid-column: span 1;
                grid-row: span 2;
                max-height: 300px;
            }
            .box6 {
                grid-column: span 1;
                grid-row: span 2;
                max-height: 300px;
                .span-co{
                    height: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 1rem;
                    margin-top: 5px;
                    position: relative;
                }
                .lists-co{
                    width: 100%;
                    height: 90%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: $gap;
                    max-height: 100%;
                    /* Ajusta esto a la altura deseada */
                    overflow-y: auto;
                    scrollbar-width: none;
                    
                    /* Para navegadores basados en WebKit como Chrome y Safari */
                    .lists-co::-webkit-scrollbar {
                        display: none;
                    }
                
                    .user-data-co{
                        width: 100%;
                        padding: 5px;
                        // background-color: $soft;
                        color: $dark-color;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-direction: column;
                        gap: $gap;
                        border: $solid;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}